<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SortPuz: Water Color Sort Puzzle Game</title>
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      body {
        padding: 10px;
      }
      .tube-wrap {
        display: flex;
        padding-top: 20px;
      }
      .tube {
        width: 20px;
        margin-right: 15px;
        height: fit-content;
      }
      .tube-active {
        transform: translateY(-10px);
      }
      .tube__layer {
        border: 1px solid black;
        width: 100%;
        height: 25px;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
  </head>
  <body>
    <h1>SortPuz</h1>
    <h2>Water Color Sort Puzzle Game</h2>
    <p>把相同颜色的饮料都倒到同一个杯子里吧！</p>
    <br/>
    <div id="app">
      <h2>
        第{{ currConfigIdx + 1 }}关
        <button @click="handleClickResetBtn">reset</button>
      </h2>
      <div class="tube-wrap">
        <div v-for="(arr, idx) in state">
          <div
            class="tube"
            :class="idx===activeTube ? 'tube-active' : ''"
            @click="handleClickTube(idx)"
          >
            <div
              class="tube__layer"
              v-for="color in arr"
              :style="`background: ${colorsMap[color] || color}`"
            ></div>
          </div>
          <div>{{idx}}</div>
        </div>
      </div>
      <button @click="handleClickUndoBtn">撤销</button>
      <button @click="handleClickRedoBtn">重做</button>
      <button @click="handleClickSolveBtn">解答</button>
      <button @click="handleClickLastBtn">上一关</button>
      <button @click="handleClickNextBtn">下一关</button>
      <button @click="nTubes--" :disabled="nTubes <= 0">减少空杯子</button>
      <button @click="nTubes++">增加空杯子</button>
      <div>
        <div>历史步骤：</div>
        <div style="white-space: pre">
          {{ history.map(x=>`move ${x.color} x ${x.count} from ${x.from} to ${x.to}`).join('\n') }}
        </div>
      </div>
    </div>
    <script src="configs.js"></script>
    <script src="waterTube.js"></script>
    <script src="main.js"></script>
  </body>
</html>
